alabaster==0.7.12
Babel==2.9.0
certifi==2020.12.5
chardet==4.0.0
cytoolz==0.11.0
docutils==0.16
flake8==3.9.1
idna==2.10
imagesize==1.2.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mccabe==0.6.1
mypy==0.910
mypy-extensions==0.4.3
packaging==21.0
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.8.1
pyparsing==2.4.7
pytz==2021.1
requests==2.25.1
rich>=8.0.0
snowballstemmer==2.1.0
Sphinx==3.5.4
sphinx-autodoc-typehints==1.12.0
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3==1.26.4
VapourSynth>=51
vsutil>=0.6.0
